{% load static %}
<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Filatelie Štafl</title>

  <link rel="icon" href="{% static 'images/logo/e-logo.png' %}" />

  <!-- ========== fonts css ========== -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />

  <!-- ========== bootstrap css ========== -->
  <link rel="stylesheet" href="{% static 'css/vendors/bootstrap.css' %}" id="rtl-link" />

  <!-- ========== swiper css ========== -->
  <link rel="stylesheet" href="{% static 'css/vendors/swiper-bundle.css' %}" />

  <!-- ========== remix icon css ========== -->
  <link rel="stylesheet" href="{% static 'fonts/remix-icon/remixicon.css' %}" />

  <!-- ========== animation css ========== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <!-- ========== style css ========== -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!-- ========== htmx ========== -->
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
</head>

<body class="montserrat-font">

  {% include './header.html' %}

  {% block content %}{% endblock %}

  {% include './footer.html' %}

</body>






<!-- ========== bootstrap js ========== -->
<script src="{% static 'js/vendors/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendors/popper.min.js' %}"></script>

<!-- ========== swiper js ========== -->
<script src="{% static 'js/vendors/swiper-bundle.min.js' %}"></script>

<!-- ========== custom swiper js ========== -->
<script src="{% static 'js/custom-slider.js' %}"></script>

<!-- ========== filter js ========== -->
<script src="{% static 'js/filter.js' %}"></script>

<!-- ========== Mood Button js ========== -->
<script src="{% static 'js/theme-setting.js' %}"></script>

<!-- ========== newsletter js ========== -->
<script src="{% static 'js/newsletter.js' %}"></script>

<!-- ========== Loader js ========== -->
<!-- <script src="{% static 'js/loader.js' %}"></script> -->

<!-- ========== script js ========== -->
<script src="{% static 'js/script.js' %}"></script>