{% load static %}

<!-- ========== Start Section ========== -->
<footer class="footer-section">
    <div class="custom-container">
        <div class="row section-sm-b-space g-0 g-sm-4">
            <div class="col-xl-4 col-lg-6 col-sm-6">
                <div class="footer-content">
                    <a href="#" class="logo main-logo">
                        <img src="{% static 'images/logo/logo-stafl.jpg' %}" alt="" />
                    </a>
                    <div class="footer-details">
                        <p>Adresa: <span>Palackého 80, Jablonec nad Nisou</span></p>
                        <a href="tel:(123) 456-7890">Telefon: <span>+420 123 456 789</span></a>
                        <a href="mailto:edgy@contact.no">Email: <span>info@stafl.cz</span></a>
                    </div>
                    <div class="footer-social">
                        <a href="#"><i class="ri-facebook-fill"></i></a>
                        <!-- <a href="#"><i class="ri-google-fill"></i></a> -->
                        <!-- <a href="#"><i class="ri-twitter-x-fill"></i></a> -->
                        <a href="#"><i class="ri-instagram-line"></i></a>
                    </div>
                </div>
            </div>
            <div class="menu-box folder-menu col-xl-2 col-lg-3 col-sm-6">
                <h5>Společnost</h5>
                <ul class="footer-menu">
                    <li><a href="#" class="footer-link">O nás</a></li>
                    <li><a href="#" class="footer-link">Kontakt</a></li>
                    <li><a href="#" class="footer-link">FAQs</a></li>

                    <li><a href="#" class="footer-link">Hledat</a></li>
                </ul>
            </div>
            <div class="menu-box folder-menu col-xl-2 col-lg-3 col-sm-6">
                <h5>Odkazy</h5>
                <ul class="footer-menu">
                    <li><a href="#" class="footer-link">Domů</a></li>
                    <li><a href="#" class="footer-link">Obchod</a></li>
                    <li><a href="#" class="footer-link">Přihlásit</a></li>
                    <li><a href="#" class="footer-link">Registrovat</a></li>
                </ul>
            </div>
            <div class="menu-box col-xl-4 col-sm-6">
                <h5>Newsletter</h5>
                <div class="footer-menu">
                    <p class="news-letter-head">
                        Přihlaste se k odběru našeho newsletteru ještě dnes!
                    </p>
                    <form class="news-latter-input">
                        <input type="email" placeholder="Email" />
                        <button type="submit" class="btn solid-btn box-sm-radius">
                            <div class="button-text">
                                <span>Přihlásit</span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-sub-menu">
            <h6>
                Copyright <i class="ri-copyright-line"></i> 2025 Zdeněk Štafl
            </h6>
            <a href="#" class="footer-img">
                <img src="{% static 'images/payment/1.png' %}" class="img-fluid" alt="" />
            </a>
        </div>
    </div>
</footer>
<!-- ========== End Section ========== -->