body {
    font-family: $jost,
        $montserrat;
    background-color: rgba(var(--white), 1);
    font-size: 14px;
    font-weight: 500;
    color: rgba(var(--black), 1);
    margin: 0;
    transition: unset;
    padding-right: 0 !important;
}

p {
    margin-bottom: 0%;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: rgba(var(--theme-color), 1);
    display: block;
}

h1 {
    font-size: calc(36px + (70 - 36) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin-bottom: 0;
}

h2 {
    font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin-bottom: 0;
}

h3 {
    font-size: calc(23px + (36 - 23) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    margin-bottom: 0;
}

h4 {
    font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    margin-bottom: 0;
}

h5 {
    font-weight: 500;
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 0;
}

h6 {
    font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 0;
    font-weight: 500;
}
p{
    color: rgba(var(--content-color), 1);
}
p,
a {
    font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 1.5;
}