{% extends '../base/base.html' %}

{% load static %}

{% block content %}


<!-- ========== Start home-banner Section ========== -->
<section class="home-section demo-slider">
    <div class="swiper demo-1-slider-2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="img-fluid" src="{% static 'images/demo-1/1.jpg' %}" alt="" />
                <div class="demo-content">
                    <span>#Newcollection</span>
                    <h2>Where Fashion Meets Individuality</h2>
                    <p>
                        Dive into a world of timeless elegance and modern trends as you
                        explore our curated collections.
                    </p>
                    <a href="#" class="btn solid-btn">
                        <div class="button-text">
                            <span>Explore</span>
                        </div>
                    </a>
                </div>

                <div class="user-list">
                    <ul>
                        <li>
                            <img src="{% static 'images/demo-1/user/1.png' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'images/demo-1/user/2.png' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'images/demo-1/user/3.png' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'images/demo-1/user/4.png' %}" alt="" />
                        </li>
                    </ul>
                    <div class="user-count">
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-fill"></i>
                            <i class="ri-star-s-line"></i>
                            <span>4.8</span>
                        </div>
                        <h6>From 100+ <span>Reviews</span></h6>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img class="img-fluid" src="{% static 'images/demo-1/2.jpg' %}" alt="" />
                <div class="demo-content">
                    <span>#Newcollection</span>
                    <h2>Where Fashion Meets Individuality</h2>
                    <p>
                        Dive into a world of timeless elegance and modern trends as you
                        explore our curated collections.
                    </p>
                    <a href="#" class="btn solid-btn">
                        <div class="button-text">
                            <span>Explore</span>
                        </div>
                    </a>
                </div>

                <div class="user-list">
                    <ul>
                        <li>
                            <img src="{% static 'images/demo-1/user/1.png' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'images/demo-1/user/2.png' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'images/demo-1/user/3.png' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'images/demo-1/user/4.png' %}" alt="" />
                        </li>
                    </ul>
                    <div class="user-count">
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-fill"></i>
                            <i class="ri-star-s-line"></i>
                            <span>4.8</span>
                        </div>
                        <h6>From 100+ <span>Reviews</span></h6>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img class="img-fluid" src="{% static 'images/demo-1/3.jpg' %}" alt="" />
                <div class="demo-content">
                    <span>#Newcollection</span>
                    <h2>Where Fashion Meets Individuality</h2>
                    <p>
                        Dive into a world of timeless elegance and modern trends as you
                        explore our curated collections.
                    </p>
                    <a href="#" class="btn solid-btn">
                        <div class="button-text">
                            <span>Explore</span>
                        </div>
                    </a>
                </div>

                <div class="user-list">
                    <ul>
                        <li>
                            <img src="{% static 'images/demo-1/user/1.png' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'images/demo-1/user/2.png' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'images/demo-1/user/3.png' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'images/demo-1/user/4.png' %}" alt="" />
                        </li>
                    </ul>
                    <div class="user-count">
                        <div class="rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-fill"></i>
                            <i class="ri-star-s-line"></i>
                            <span>4.8</span>
                        </div>
                        <h6>From 100+ <span>Reviews</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-container">
        <div class="swiper demo-1-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="img-fluid" src="{% static 'images/demo-1/1_1.jpg' %}" alt="" />
                </div>
                <div class="swiper-slide">
                    <img class="img-fluid" src="{% static 'images/demo-1/2_2.jpg' %}" alt="" />
                </div>
                <div class="swiper-slide">
                    <img class="img-fluid" src="{% static 'images/demo-1/3_3.jpg' %}" alt="" />
                </div>
                <div class="swiper-slide">
                    <img class="img-fluid" src="{% static 'images/demo-1/2_2.jpg' %}" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== End home-banner Section ========== -->



<!-- ========== Start Categories Section ========== -->
<section class="categories-section my-5">
    <div class="custom-container">
        <div class="title-flex section-sm-b-space">
            <h2 class="title">Shop by Categories</h2>
            <div class="swiper-nav swiper-nav-box">
                <div class="swiper-button-prev swiper-seller-prev">
                    <i class="ri-arrow-left-s-line"></i>
                </div>
                <div class="swiper-button-next swiper-seller-next">
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </div>
        </div>

        <div class="swiper categories-swiper">
            <div class="swiper-wrapper ratio_product">
                <div class="swiper-slide">
                    <div class="categories-items">
                        <a href="#">
                            <img src="{% static 'images/categories/15.jpg' %}" class="bg-img w-100" alt="" />
                        </a>
                        <a href="#">
                            <h5>Heels</h5>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="categories-items">
                        <a href="#">
                            <img src="{% static 'images/categories/11.jpg' %}" class="bg-img w-100" alt="" />
                        </a>
                        <a href="#">
                            <h5>Bag</h5>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="categories-items">
                        <a href="#">
                            <img src="{% static 'images/categories/12.jpg' %}" class="bg-img w-100" alt="" />
                        </a>
                        <a href="#">
                            <h5>Cap</h5>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="categories-items">
                        <a href="#">
                            <img src="{% static 'images/categories/13.jpg' %}" class="bg-img w-100" alt="" />
                        </a>
                        <a href="#">
                            <h5>T-Shirt</h5>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="categories-items">
                        <a href="#">
                            <img src="{% static 'images/categories/14.jpg' %}" class="bg-img w-100" alt="" />
                        </a>
                        <a href="#">
                            <h5>Shirt</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== End Categories Section ========== -->


{% endblock %}