{% load static %}
<section class="bg-dark py-5">
    <div class="custom-container">
        <div class="title-flex section-sm-b-space d-flex flex-column justify-content-center">
            <h2 class="title text-light">napsali o nás</h2>

        </div>

        <div class="swiper testimonial-swiper">
            <div class="swiper-wrapper ratio_product">

                <div class="swiper testimonial-swiper">
                    <div class="swiper-wrapper ratio_product">
                        {% for testimonial in testimonials %}
                        <div class="swiper-slide">
                            <div class="testimonial-box">
                                <i class="ri-double-quotes-l text-white"></i>
                                <p>{{ testimonial.quote }}</p>
                                <div class="testimonial-name-box">
                                    {% comment %}
                                    <a href="#!" class="testimonial-img">
                                        <img src="{% static testimonial.image %}" alt="{{ testimonial.name }}" />
                                    </a>
                                    {% endcomment %}
                                    <div class="testimonial-name">
                                        <h5 class="text-white">{{ testimonial.name }}</h5>
                                        <span>{{ testimonial.date }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>


            </div>
        </div>

        <div class="title-flex section-sm-b-space d-flex flex-column justify-content-center mt-3">

            <div class="swiper-nav swiper-nav-box">
                <div class="swiper-button-prev swiper-testimonial-prev">
                    <i class="ri-arrow-left-s-line"></i>
                </div>
                <div class="swiper-button-next swiper-testimonial-next">
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </div>
        </div>
    </div>
</section>