/*========================
  4.6 mode-change-btn style start
==========================*/

.theme-btn-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
    position: fixed;
    top: 60%;
    right: 0;
    transform: rotate(90deg);
    transform-origin: right top;
    z-index: 1;
    [dir="rtl"] & {
        right: unset;
        left: 0;
        transform-origin: left top;
        transform: rotate(-90deg);
    }

    .mode-button {
        background: rgba(var(--theme-color), 1);
        padding: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320))) calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
        color: #fff;
        display: flex;
        align-items: center;
        gap: 5px;
        border: none;
        font-weight: 500;
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));

    }
}