{% load static %}

<section class="bg-dark">


    <div class="row d-flex flex-lg-row flex-column-reverse justify-content-center align-items-center">

        <div class="col-12 col-lg-5 bg-dark h-100">
            <div class="col-lg-9 d-flex flex-column gap-lg-5 gap-4 p-5 m-auto">
                <h1 class="text-light">Filatelie Štafl</h1>
                <p>
                    Ponořte se do světa nadčasové elegance <br> a moderních trendů při objevování našich pečlivě vybraných filatelistických kolekcí.
                </p>
                <a href="" class="d-block btn btn-lg solid-btn box-sm-radius btn-secondary w-50">
                    <div class="button-text">
                        <span>Katalog</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-lg-7 h-100">
            <img src="{% static 'images/filatelie2.webp' %}" class="img-fluid h-100 object-fit-cover" alt="">
        </div>        
    </div>







</section>






</section>