{% load static %}

<section class="home-section dot-style-1">
    <div class="swiper banner">
        <div class="swiper-wrapper" style="height: 560px; overflow: hidden;">
            <div class=" swiper-slide">
                <div class="home-slider">
                    <img src=" {% static 'images/filatelie.webp' %} " style="position: absolute; top: -220px;" alt="" />
                    <div class="slider-content">
                        <!-- <div class="custom-container">
                            <h1>Where Fashion Meets Individuality</h1>
                            <p>
                                Dive into a world of timeless elegance and modern trends as
                                you explore our curated collections.
                            </p>
                            <a href="shop-left-sidebar.html" class="btn btn-lg solid-btn box-sm-radius">
                                <div class="button-text">
                                    <span>shop now</span>
                                </div>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>