<div class="left-sidebox">
    <div class="collection-filter" id="myFilter">
        <div class="filter-header" onclick="closeNavBar()">
            <h5 class="filter-title">
                <i class="ri-arrow-left-fill"></i>
                Back
            </h5>
        </div>

        <div class="accordion accordion-section" id="accordionPanelsStayOpenExample">

            <form action="{% url 'shop:product_list' %}" method="GET">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            KATEGORIE
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <ul class="brand-chack scroll-bar">
                                {% for c in all_categories %}
                                <li>
                                    <input type="checkbox" name="categories" value="{{ c.slug }}" class="chack-box"
                                        id="{{ c.slug }}" {% if c.slug in selected_categories %}checked{% endif %} />
                                    <label for="{{ c.slug }}">{{ c.name }}</label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>




                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapse_Four" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapse_Four">
                            CENA
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse_Four" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <ul class="brand-chack scroll-bar">
                                <li>
                                    <input type="checkbox" class="chack-box" id="LOWER1000" />
                                    <label for="LOWER1000">Méně jak 1000Kč</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="chack-box" id="HIGHEREQUAL1000" />
                                    <label for="HIGHEREQUAL1000">1000Kč a více</label>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn solid-btn m-auto">
                        <div class="button-text">
                            <span>Filtrovat</span>
                        </div>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>