<section class="contact-section section-t-space section-b-space">
    <div class="custom-container">
        <div class="row g-4">
            <div class="col-12 text-center">
                <h4>Kontaktujte nás</h4>
                <!-- <p>
                    Kindly contact us if you would like to collaborate with us or if
                    you have any fantastic things to offer.
                </p> -->
                <form class="contact-form">
                    <div class="row g-sm-4 g-2">
                        <div class="col-sm-6 col-12">
                            <input type="text" class="form-control contact-input" id="exampleFormControlInput1"
                                placeholder="Jméno" />
                        </div>
                        <div class="col-sm-6 col-12">
                            <input type="email" class="form-control contact-input" id="exampleFormControlInput2"
                                placeholder="Email" />
                        </div>
                        <div class="col-12">
                            <textarea class="form-control contact-input" placeholder="Zpráva" id="floatingTextarea2"
                                style="height: 150px"></textarea>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <div class="form-check terms-btn">
                                <input class="form-check-input terms-radio" type="checkbox" value=""
                                    id="flexCheckDefault" />
                                <label class="form-check-label terms-label contact-label text-center"
                                    for="flexCheckDefault">
                                    Souhlasím se zpracováním osobních údajů
                                </label>
                            </div>
                        </div>
                        <div class="col-12 mt-0 text-center">
                            <button type="submit" class="btn solid-btn">
                                <div class="button-text">
                                    <span>Odeslat</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>