{% extends '../base/base.html' %}

{% block content %}


{% with usr=request.user %}



<!-- ========== Start checkout Section ========== -->
<section class="dashboard-section section-t-space section-b-space">
    <div class="custom-container">
        <div class="row g-lg-5 g-3">
            <div class="col-xxl-3 col-12">
                <div class="dashboard-profile">
                    <div class="profile-cover"></div>
                    <div class="dashboard-profile-box">
                        <div class="avatar-upload">
                            <div class="avatar-preview">
                                <div style="
                      background-image: url('{{ usr.profile.photo.url }}');
                    "></div>
                            </div>
                        </div>
                        <div class="dashboard-profile-detail">
                            <h5>{{ usr }}</h5>
                            <h6> {{ usr.email }} </h6>
                        </div>
                    </div>
                    <div class="nav nav-dashboard nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">
                            <i class="ri-home-4-line"></i> Obecné
                        </button>

                        <button class="nav-link" id="nav-order-tab" data-bs-toggle="tab" data-bs-target="#nav-order"
                            type="button" role="tab" aria-controls="nav-order" aria-selected="false">
                            <i class="ri-shopping-bag-3-line"></i> Objednávky
                        </button>

                        <button class="nav-link" id="nav-wishlist-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-wishlist" type="button" role="tab" aria-controls="nav-wishlist"
                            aria-selected="false">
                            <i class="ri-heart-3-line"></i> Wishlist
                        </button>

                        <button class="nav-link text-danger" id="nav-Profile-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-Profile" type="button" role="tab" aria-controls="nav-Profile"
                            aria-selected="false">
                            <i class="ri-user-3-line"></i> Upravit
                        </button>

                        <div class="logout-box">
                            <form action="{% url 'account:logout' %}" method="post">
                                <button class="btn solid-btn w-100 text-white" type="submit"><i
                                        class="ri-logout-box-r-line"></i>Odhlásit</button>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-9 col-12">
                <div class="tab-content dashboard-tab" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <h5 class="dashboard-tab-title">My Dashboard</h5>
                        <div class="dashboard-user-name">
                            <h6>Hello, <b>{{ request.user }}</b></h6>
                            <p>
                                From your My Account Dashboard you have the ability to view
                                a snapshot of your recent account activity and update your
                                account information. Select a link below to view or edit
                                information.
                            </p>
                        </div>
                        <div class="total-box">
                            <div class="row g-lg-4 g-3">
                                <div class="col-lg-4 col-12">
                                    <div class="total-contain">
                                        <img src="assets/images/svg/order-svg.svg" class="img-fluid img-1" alt="" />
                                        <img src="assets/images/svg/order-svg.svg" class="img-fluid" alt="" />
                                        <div class="total-detail">
                                            <h5>Total Order</h5>
                                            <h3>5659</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="total-contain">
                                        <img src="assets/images/svg/pending-svg.svg" class="img-fluid img-1" alt="" />
                                        <img src="assets/images/svg/pending-svg.svg" class="img-fluid" alt="" />
                                        <div class="total-detail">
                                            <h5>Total Pending Order</h5>
                                            <h3>569</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="total-contain">
                                        <img src="assets/images/svg/wishlist-svg.svg" class="img-fluid img-1" alt="" />
                                        <img src="assets/images/svg/wishlist-svg.svg" class="img-fluid" alt="" />
                                        <div class="total-detail">
                                            <h5>Total Wishlist</h5>
                                            <h3>56559</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-title">
                            <h3>Account Information</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12 mb-sm-4 mb-2">
                                <div class="dashboard-content-title">
                                    <h4>
                                        Contact Information
                                        <a href="#!" class="size-btn" data-bs-toggle="modal" data-bs-target="#deliVery">
                                            Edit
                                        </a>
                                    </h4>
                                </div>
                                <div class="dashboard-content-detail">
                                    <h6 class="user-name">MARK JECNO</h6>
                                    <h6>nick.jezpope3@email.com</h6>
                                    <a href="#!">Change Password</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 mb-sm-4 mb-2">
                                <div class="dashboard-content-title">
                                    <h4>
                                        Newsletters
                                        <a href="#!" class="size-btn" data-bs-toggle="modal" data-bs-target="#deliVery">
                                            Edit
                                        </a>
                                    </h4>
                                </div>
                                <div class="dashboard-content-detail">
                                    <h6 class="user-name">
                                        You are currently not subscribed to any newsletter
                                    </h6>
                                </div>
                            </div>
                            <div class="col-12 mb-sm-0 mb-2">
                                <div class="dashboard-content-title">
                                    <h4>Address Book</h4>
                                </div>
                                <div class="dashboard-content-detail">
                                    <div class="row g-3">
                                        <div class="col-lg-6 col-12">
                                            <div class="address-box">
                                                <h6 class="user-name">Default Billing Address</h6>
                                                <h6>You have not set a default billing address.</h6>
                                                <a href="#!" class="size-btn size-two" data-bs-toggle="modal"
                                                    data-bs-target="#deliVery">Edit Address</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="address-box">
                                                <h6 class="user-name">Default Billing Address</h6>
                                                <h6>You have not set a default billing address.</h6>
                                                <a href="#!" class="size-btn size-two" data-bs-toggle="modal"
                                                    data-bs-target="#deliVery">Edit Address</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane order-tab fade" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab">
                        <h5 class="dashboard-tab-title">My orders History</h5>
                        <div class="order-contian">
                            <!-- One Order -->
                            {% with orders=usr.profile.orders.all %}
                            {% for order in orders %}
                            {{ order.email }}
                            <div class="order-list-box">
                                <div class="order-container">
                                    <div class="order-icon">
                                        <i class="ri-box-3-line"></i>
                                    </div>
                                    <div class="order-content">
                                        <h5>Delivers <span>Pending</span></h5>
                                        <p>
                                            Your Refund Of $389.00 For then return has been
                                            processed Successfully on 4th Apr.View Refund details
                                        </p>
                                    </div>
                                </div>




                                <div class="product-order-detail-box">
                                    {% for item in order.items.all %}
                                    <div class="product-order-img">
                                        <img src="{{ item.product.image.url }}" class="img-fluid" alt="" />
                                    </div>
                                    <div class="order-wrap-box">
                                        <a href="shop-left-sidebar.html">{{ item.product.name }}</a>
                                        <p>
                                            {{ item.product.description }}
                                        </p>
                                        <ul class="order-product-size">
                                            <li class="size-box">
                                                <h6>price :</h6>
                                                <h5>{{ item.price }}</h5>
                                            </li>
                                            <li class="size-box">
                                                <h6>rate :</h6>
                                                <div class="product-rating">
                                                    <ul>
                                                        <li><i class="ri-star-fill"></i></li>
                                                        <li><i class="ri-star-fill"></i></li>
                                                        <li><i class="ri-star-fill"></i></li>
                                                        <li><i class="ri-star-fill"></i></li>
                                                        <li><i class="ri-star-line"></i></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="size-box">
                                                <h6>Sold By :</h6>
                                                <h5>zarko</h5>
                                            </li>
                                            <li class="size-box">
                                                <h6>Quantity :</h6>
                                                <h5>1</h5>
                                            </li>
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </div>


                            </div>
                            {% endfor %}

                            {% endwith %}

                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-wishlist" role="tabpanel" aria-labelledby="nav-wishlist-tab">
                        <h5 class="dashboard-tab-title">My Wishlist History</h5>
                        <div
                            class="row g-sm-4 g-3 ratio_product_2 row-cols-xxl-4 row-cols-lg-4 row-cols-sm-3 row-cols-2">
                            <div class="col">
                                <div class="product-box">
                                    <div class="product-img-box">
                                        <div class="label-box">
                                            <label class="off-label">50% off</label>
                                            <div class="product-option">
                                                <a href="#!" class="remove-btn">
                                                    <i class="ri-heart-3-fill"></i>
                                                </a>
                                                <a href="#!" class="sub-link mt-0" data-bs-toggle="modal"
                                                    data-bs-target="#view"><i class="ri-eye-line"></i></a>
                                                <a href="#!"><i class="ri-loop-right-fill"></i></a>
                                            </div>
                                        </div>
                                        <div class="front">
                                            <a href="shop-left-sidebar.html">
                                                <img src="assets/images/product/front/18.jpg" class="bg-img w-100"
                                                    alt="" />
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="shop-left-sidebar.html">
                                                <img src="assets/images/product/back/18.jpg" class="bg-img w-100"
                                                    alt="" />
                                            </a>
                                        </div>
                                        <div class="product-btn">
                                            <a href="#!" class="btn solid-btn addtocart-btn">
                                                <div class="button-text">
                                                    <span>Add to cart</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="product-name-box">
                                            <a href="shop-left-sidebar.html" class="product-name">Blend suit
                                                waistcoat</a>
                                            <ul class="rating-product">
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><i class="ri-star-line"></i></li>
                                            </ul>
                                        </div>
                                        <h6 class="product-price">$36.00 <del>$95.00</del></h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="tab-pane profile-tab fade" id="nav-Profile" role="tabpanel"
                        aria-labelledby="nav-Profile-tab">
                        <h5 class="dashboard-tab-title">Upravit</h5>






                        <form method="POST" action="{% url 'account:dashboard'%}" enctype="multipart/form-data">
                            {% csrf_token %}


                            <!-- USER FORM -->
                            <div class="profile-about-box">
                                <h5 class="profile-about-title">Login</h5>
                                <p class="profile-sub-line">
                                    Zde můžete změnit informace ohledně uživatelského jména a emailu.
                                </p>
                                <div class="mt-4">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="mb-3">
                                                <label for="full-nameOne" class="form-label">Uživatelské jméno*</label>
                                                {{ user_form.username }}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-3">
                                                <label for="full-nameOne" class="form-label">Email*</label>
                                                {{ user_form.email }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- PROFILE FORM -->
                            <div class="profile-about-box">
                                <h5 class="profile-about-title">Profil</h5>
                                <p class="profile-sub-line">
                                    Zde můžete změnit informace ohledně profilového obrázku a data narození.
                                </p>
                                <div class="mt-4">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="mb-3">
                                                <label for="full-nameOne" class="form-label">Profilová fotka*</label>
                                                {{ profile_form.photo }}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-3">
                                                <label for="full-nameOne" class="form-label">Datum narození*</label>
                                                {{ profile_form.date_of_birth }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <!-- ADDRESS FORM -->
                            <div class="profile-about-box">
                                <h5 class="profile-about-title">Adresa</h5>
                                <p class="profile-sub-line">
                                    Zde můžete změnit informace ohledně adresy.
                                </p>
                                <div class="mt-4">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="mb-3">
                                                <label for="full-nameOne" class="form-label">Ulice*</label>
                                                {{ address_form.street }}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-3">
                                                <label for="full-nameOne" class="form-label">Město*</label>
                                                {{ address_form.city }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="mb-3">
                                                <label for="full-nameOne" class="form-label">PSČ*</label>
                                                {{ address_form.postal_code }}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="mb-3">
                                                <label for="full-nameOne" class="form-label">Stát*</label>
                                                {{ address_form.country }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- SAVE BUTTON  -->
                            <div class="text-start mt-4">
                                <button type="submit" class="btn solid-btn" data-bs-dismiss="modal" aria-label="Close">
                                    <div class="button-text">
                                        <span>Aktualizovat</span>
                                    </div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <p class="alert alert-success m-auto text-center w-50 my-5">
            {{ message }}
        </p>
        {% endif %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <p class="alert alert-danger m-auto text-center w-50 my-5">
            {{ message }}
        </p>
        {% endif %}

        {% endfor %}
</section>
<!-- ========== End checkout Section ========== -->
{% endwith %}

{% endblock %}