{% load static %}

<!-- ========== Start instagram Section ========== -->
<section class="section">
    <div class="container-fluid p-0">
        <div class="swiper instagram-two">
            <div class="swiper-wrapper ratio_square">
                <div class="swiper-slide">
                    <div>
                        <a href="https://www.instagram.com/">
                            <div class="instagram-box">
                                <img src="{% static 'images/home/1.webp' %}" class="bg-img w-100" alt="" />
                                <div class="overlay-img">
                                    <i class="ri-instagram-line"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <a href="https://www.instagram.com/">
                            <div class="instagram-box">
                                <img src="{% static 'images/home/2.webp' %}" class="bg-img w-100" alt="" />
                                <div class="overlay-img">
                                    <i class="ri-instagram-line"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <a href="https://www.instagram.com/">
                            <div class="instagram-box">
                                <img src="{% static 'images/home/3.webp' %}" class="bg-img w-100" alt="" />
                                <div class="overlay-img">
                                    <i class="ri-instagram-line"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <a href="https://www.instagram.com/">
                            <div class="instagram-box">
                                <img src="{% static 'images/home/4.webp' %}" class="bg-img w-100" alt="" />
                                <div class="overlay-img">
                                    <i class="ri-instagram-line"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <a href="https://www.instagram.com/">
                            <div class="instagram-box">
                                <img src="{% static 'images/home/5.webp' %}" class="bg-img w-100" alt="" />
                                <div class="overlay-img">
                                    <i class="ri-instagram-line"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <a href="https://www.instagram.com/">
                            <div class="instagram-box">
                                <img src="{% static 'images/home/6.webp' %}" class="bg-img w-100" alt="" />
                                <div class="overlay-img">
                                    <i class="ri-instagram-line"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div>
                        <a href="https://www.instagram.com/">
                            <div class="instagram-box">
                                <img src="{% static 'images/home/7.webp' %}" class="bg-img w-100" alt="" />
                                <div class="overlay-img">
                                    <i class="ri-instagram-line"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== End instagram Section ========== -->