.product-list-section {
  &.list-style {
    .product-box {
      display: flex;
      align-items: center;
      border: 1px solid rgba(var(--black), 0.1);
      background-color: rgba(var(--black), 0.01);

      .product-img-box {
        position: relative;
        width: 30%;
        overflow: hidden;
      }

      .product-detail {
        text-align: start;
        width: 70%;
        padding-left: 30px;
        [dir="rtl"] & {
          padding-right: 30px;
          padding-left: unset;
        }

        .product-name-box {
          justify-content: unset;
        }

        .list-detail {
          display: block;
          font-size: 16px;
          font-weight: 400;
          color: rgba(var(--content-color), 1);
          width: 80%;
          margin-bottom: 5px;

          @media (max-width: 1399px) {
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
          }
        }
      }
    }

    @media (max-width: 991px) {
      display: none;
    }
  }
}

.grid-filter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;

  h4 {
    font-size: calc(10px + (28 - 10) * ((100vw - 320px) / (1920 - 320)));
    color: rgba(var(--title-color), 1);

    @media (max-width: 991px) {
      display: none;
    }
  }

  .filter-btn {
    display: none;

    .latest_filter {
      border: 1px solid rgba(var(--theme-color), 1);
      background-color: rgba(var(--theme-color), 1);
      padding: 5px calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
      color: white;
      display: flex;
      align-items: center;
      gap: 15px;
    }

    @media (max-width: 991px) {
      display: block;
    }
  }

  .hide-btn {
    button {
      background-color: rgba(var(--theme-color), 1);
      color: white;
      font-size: 16px;
      font-weight: 600;
      border: none;
      padding: 5px calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  .filter-menu-btn {
    border: 1px solid rgba(var(--theme-color), 1);
    padding: 5px calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
    background-color: rgba(var(--theme-color), 1);
    display: none;

    a {
      font-weight: 400;
      color: white;
    }

    &.canvas-btn {
      display: inline-block;
    }

    @media (max-width: 991px) {
      display: inline-block;
    }
  }

  .grid-option {
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    // margin-right: 20px;
    border: 1px solid #eee;
    gap: 0;

    @media (max-width: 992px) {
      display: none;
    }

    li {
      button {
        background-color: transparent;
        border: none;
        padding: 7px calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
        img {
          vertical-align: -2px;
        }
        &.grid-btn {
          border-inline: 1px solid #eee;
        }
      }

      &.active {
        border: none;
        background-color: rgba(var(--theme-color), 1);

        img {
          filter: brightness(100);
        }
      }
    }
  }

  .featured-menu {
    text-align: end;
  }
}

.right-side-filter {
  display: flex;
  align-items: center;
  gap: 15px;

  .sort-by-title {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    color: rgba(var(--theme-color), 1);
  }
}

.shop-collection-section {
  .hide-filter {
    .filter-bar {
      display: none;
    }

    .content-bar {
      width: 100%;
    }
  }

  .left-sidebox {
    .collection-filter {
      width: 100%;

      .accordion-section {
        background-color: #f8f8f8;
        padding: 16px;
        margin: 0 calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
      }

      .filter-box {
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid #eee;

        h5 {
          padding-bottom: 25px;
          text-transform: uppercase;
          color: rgba(var(--black), 1);
          font-weight: 500;
          font-size: 20px;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 15px;

          li {
            display: flex;
            align-items: center;
            gap: 15px;
            background-color: rgba(var(--white), 1);
            padding: 5px 10px;
            line-height: 1;
            font-size: 16px;
            color: rgba(var(--black), 0.6);
            font-weight: 400;

            i {
              line-height: 1;
            }
          }
        }
      }

      &.canvas-filter {
        position: fixed;
        top: 0;
        left: -350px;
        width: calc(290px + (320 - 290) * ((100vw - 320px) / (1920 - 320)));
        z-index: 1;
        padding: 0 calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
        height: 100vh;
        background-color: rgba(var(--white), 1);
        overflow-y: auto;
        transition: all 0.5s ease-in-out;

        [dir="rtl"] & {
          left: unset;
          right: -350px;
        }

        .filter-header {
          display: block;
        }
      }

      @media (max-width: 991px) {
        position: fixed;
        top: 0;
        left: -350px;
        width: calc(290px + (320 - 290) * ((100vw - 320px) / (1920 - 320)));
        z-index: 6;
        height: 100vh;
        background-color: rgba(var(--white), 1);
        overflow-y: auto;
        transition: all 0.5s ease-in-out;

        [dir="rtl"] & {
          left: unset;
          right: -350px;
        }
      }

      &.filter-right {
        left: unset;

        @media (max-width: 991px) {
          position: fixed;
          top: 0;
          right: -350px;
          width: calc(290px + (320 - 290) * ((100vw - 320px) / (1920 - 320)));
          z-index: 1;
          padding: 0 calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
          height: 100vh;
          background-color: rgba(var(--white), 1);
          overflow-y: auto;
          transition: all 0.5s ease-in-out;

          [dir="rtl"] & {
            left: -350px;
            right: unset;
          }
        }
      }

      .filter-header {
        box-shadow: 0 2px 10px -3px rgba(34, 34, 34, 0.1);
        padding: 20px 16px;
        margin-bottom: 10px;
        display: none;
        cursor: pointer;

        @media (max-width: 991px) {
          display: block;
        }
      }

      .top-left-product {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width: 991px) {
          display: none;
        }

        .title-name {
          color: rgba(var(--black), 1);
          font-weight: 600;
          text-transform: uppercase;
        }

        .left-mini-product {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 15px;

          a {
            width: 100px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .left-product-detail {
            width: calc(100% - 15px - 100px);

            h5 {
              font-size: 16px;
              color: rgba(var(--black), 1);
              width: 100%;
            }

            h6 {
              font-weight: 400;
              font-size: 14px;
              margin: 5px 0
                calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
              color: rgba(var(--black), 1);

              del {
                color: rgba(var(--black), 0.5);
                font-size: 13px;
              }
            }

            .star {
              display: flex;
              gap: 2px;

              i {
                color: rgba(var(--yellow), 1);
              }
            }
          }
        }
      }
    }
  }

  .filter-left-sidebar {
    &.hide {
      display: none;
    }
  }
}

.load-more-list {
  .col-grid-box {
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0;

    &.show {
      opacity: 1;
      height: auto;
      margin-bottom: 22px;
    }
  }
}

.top-filter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(4px + (40 - 4) * ((100vw - 320px) / (1920 - 320)));

  li {
    &.back-btn {
      display: none;

      @media (max-width: 991px) {
        display: block;
        padding: 15px 0;
        box-shadow: 0 2px 10px -3px rgba(var(--black), 0.1);

        a {
          color: rgba(var(--black), 1);
          font-weight: 600;
          font-size: 18px;
        }
      }
    }

    &.filter-title {
      width: max-content;
      cursor: pointer;
      color: rgba(var(--theme-color), 1);

      h6 {
        font-weight: 600;
        font-size: 22px;
        text-wrap: nowrap;
      }
    }

    &.onclick-title {
      position: relative;
      cursor: pointer;
      width: 100%;
      background-color: #f8f8f8;

      h6 {
        padding: calc(4px + (10 - 4) * ((100vw - 320px) / (1920 - 320)));
        color: rgba(var(--black), 1);
        font-size: 16px;
        white-space: nowrap;
        padding-right: 30px;
        position: relative;
        display: flex;
        align-items: center;
        text-align: start;

        &::after {
          position: absolute;
          content: "\ea4e";
          font-family: remixicon !important;
          font-style: normal;
          right: 10px;

          [dir="rtl"] & {
            left: 10px;
            right: unset;
          }
        }
      }

      .onclick-content {
        background-color: rgba(var(--white), 1);
        box-shadow: 0px 5px 9px 3px rgba(var(--black), 0.05);
        position: absolute;
        z-index: 2;
        padding: 10px;
        display: none;
        width: 100%;
        top: 46px;

        li {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
          margin-bottom: 8px;

          label {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: calc(100% - 18px - 10px);
          }
        }
      }

      &.show {
        .onclick-content {
          display: block;
        }
      }
    }
  }

  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    left: -350px;
    height: 100vh;
    background-color: rgba(var(--white), 1);
    z-index: 1;
    display: block;
    width: calc(290px + (320 - 290) * ((100vw - 320px) / (1920 - 320)));
    padding: 10px 15px;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;

    [dir="rtl"] & {
      left: unset;
      right: -350px;
    }

    li {
      &.onclick-title {
        padding-bottom: 20px;
        background-color: rgba(var(--white), 1);
        border: none;

        h6 {
          &::after {
            content: "";
          }
        }

        .onclick-content {
          display: block;
          position: relative;
          box-shadow: none;
          padding: 0;
          top: 10px;
          max-height: 170px;
          overflow-y: auto;
        }
      }

      &.filter-title {
        padding: 10px 4px;
      }
    }
  }
}
