{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Online Shopping for Women, Men & Kids Fashion</title>

  <link rel="icon" href="{% static 'images/logo/e-logo.png' %}" />

  <!-- ========== fonts css ========== -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />

  <!-- ========== bootstrap css ========== -->
  <link rel="stylesheet" href="{% static 'css/vendors/bootstrap.css' %}" id="rtl-link" />

  <!-- ========== swiper css ========== -->
  <link rel="stylesheet" href="{% static 'css/vendors/swiper-bundle.css' %}" />

  <!-- ========== remix icon css ========== -->
  <link rel="stylesheet" href="{% static 'fonts/remix-icon/remixicon.css' %}" />

  <!-- ========== animation css ========== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <!-- ========== style css ========== -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body class="montserrat-font">
  <!-- ========== loader Section ========== -->


  <!-- ========== Start header Section ========== -->
  <header class="header-wrapper">
    <div class="main-header">
      <div class="custom-container">
        <div class="main-sub-head">
          <div class="left-header">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu"
              aria-controls="primaryMenu">
              <span><i class="ri-align-left text-dark"></i></span>
            </button>
            <a href="" class="main-logo">
              <img src="{% static 'images/logo/logo.svg' %}" class="light-logo" alt="" />
              <img src="{% static 'images/logo/logo-white.svg' %}" class="dark-logo" alt="" />
            </a>
            <!-- ========== Start Theme Button ========== -->
            <div class="theme-btn-flex">
              <button type="button" class="mode-button mode-change-button">
                <i id="themeIcon" class="ri-moon-line"></i>
                <span id="text-value">Dark</span>
              </button>
            </div>
            <!-- ========== End Theme Button ========== -->
          </div>

          <!-- Navigation Start -->
          <nav class="navigation">
            <div class="nav-section">
              <div class="header-section">
                <div class="navbar navbar-expand-xl navbar-light navbar-sticky p-0">
                  <div class="offcanvas sidebar-menu offcanvas-collapse order-lg-2" id="primaryMenu">
                    <div class="offcanvas-header sidebar-offcanvas">
                      <h5 class="mt-1 mb-0">Menu</h5>
                      <button class="close-offcanvas lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close">
                        <i class="ri-close-fill"></i>
                      </button>
                    </div>
                    <div class="offcanvas-body">
                      <!-- Menu-->
                      <ul class="navbar-nav">
                        <!-- Home -->
                        <li class="nav-item dropdown dropdown-mega">
                          <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">Domů</a>
                          <div class="dropdown-menu home-menu">
                            <div class="row g-lg-4 g-3">
                              <div class="col-xl-3 col-6 mega-box">
                                <a class="home-box" href="">
                                  <img class="img-fluid" src="{% static 'images/demo-image/demo-1.png' %}"
                                    alt="home1" />
                                  <span>Demo - 1</span>
                                </a>
                              </div>

                              <div class="col-xl-3 col-6 mega-box">
                                <a class="home-box" href="">
                                  <img class="img-fluid" src="{% static 'images/demo-image/demo-2.png' %}"
                                    alt="home2" />
                                  <span>Demo - 2</span>
                                </a>
                              </div>
                              <!-- Add other demos similarly -->
                            </div>
                          </div>
                        </li>

                        <!-- Shop -->
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-dark" href="#" data-bs-toggle="dropdown">Obchod</a>
                          <div class="dropdown-menu custom-drop-menu">
                            <div class="dropdown-column">
                              <a class="dropdown-item" href="">Shop Left Sidebar</a>
                              <a class="dropdown-item" href="">Shop Right Sidebar</a>
                              <!-- Add other shop links -->
                            </div>
                          </div>
                        </li>

                        <!-- Add Product, edgy Plus, Pages, and Blog sections similarly -->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <!-- Navigation End -->

          <ul class="user-section main-user-menu">
            <li class="home-icon">
              <a href="" class="active text-dark"><i class="ri-home-4-line"></i></a>
            </li>
            <li class="search-menu">
              <a href="#!" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i
                  class="ri-search-line text-dark"></i>
              </a>
            </li>
            <li>
              <a href=""><i class="ri-heart-line text-dark"></i></a>
            </li>
            <li class="menu-link">
              <a href="#!" onclick="openNav()"><i class="ri-shopping-bag-2-line text-dark"></i>
                <span class="cart-box text-white"> 2 </span>
              </a>
              <div class="sub-menu cart-items" id="mySidenav">
                <div class="cart-header">
                  <h5>Your cart</h5>
                  <button onclick="closeNav()" class="close-btn">
                    <i class="ri-close-line"></i>
                  </button>
                </div>
                <h5>My Cart</h5>
                <div class="product-contain">
                  <div class="cart-menu">
                    <a href="" class="cart-img-box">
                      <img src="{% static 'images/product/front/22.jpg' %}" class="cart-img img-fluid" alt="product" />
                    </a>
                    <div class="drop-cart">
                      <div>
                        <a href="#!">
                          <h6>Concrete Jungle Pack</h6>
                        </a>
                        <p>
                          $80.58
                          <del>$20.00</del>
                        </p>
                      </div>
                      <button class="close-btn">
                        <i class="ri-delete-bin-5-line"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="cart-price">
                  <h6>Total:</h6>
                  <h5>$100.00</h5>
                </div>
                <div class="btn-group-cart">
                  <a href="" class="btn solid-btn w-100">
                    <div class="button-text">
                      <span>view cart</span>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li class="menu-link">
              <a href="" class="user-box">
                <i class="ri-user-3-line text-dark"></i>
                <div class="user-detail">
                  <h6 class="text-dark">Vítejte,</h6>
                  <h5 class="text-dark">Můj účet</h5>
                </div>
              </a>
              <ul class="sub-menu login-menu">
                <li><a href="" class="sub-link mt-0">Log in</a></li>
                <li>
                  <a href="" class="sub-link mt-0">Register</a>
                </li>
                <li>
                  <a href="" class="sub-link mt-0">Forgot password</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- ========== End header Section ========== -->





  {% block content %}{% endblock %}



  {% load static %}
  <!-- ========== Start Section ========== -->
  <footer class="footer-section">
    <div class="custom-container">
      <div class="row section-sm-b-space g-0 g-sm-4">
        <div class="col-xl-4 col-lg-6 col-sm-6">
          <div class="footer-content">
            <a href="#" class="logo main-logo">
              <img src="{% static 'images/logo/logo-white.svg' %}" alt="" />
            </a>
            <div class="footer-details">
              <p>Address: <span>14 Fashion St, Suite 567, New York</span></p>
              <a href="tel:(123) 456-7890">Phone: <span>(123) 456-7890</span></a>
              <a href="mailto:edgy@contact.no">Email Us: <span>support@edgy.Com</span></a>
            </div>
            <div class="footer-social">
              <a href="#"><i class="ri-facebook-fill"></i></a>
              <a href="#"><i class="ri-google-fill"></i></a>
              <a href="#"><i class="ri-twitter-x-fill"></i></a>
              <a href="#"><i class="ri-instagram-line"></i></a>
            </div>
          </div>
        </div>
        <div class="menu-box folder-menu col-xl-2 col-lg-3 col-sm-6">
          <h5>Company</h5>
          <ul class="footer-menu">
            <li><a href="#" class="footer-link">About Us</a></li>
            <li><a href="#" class="footer-link">Contact Us</a></li>
            <li><a href="#" class="footer-link">FAQs</a></li>
            <li>
              <a href="#" class="footer-link" data-bs-toggle="modal" data-bs-target="#register">Register</a>
            </li>
            <li><a href="#" class="footer-link">Search</a></li>
          </ul>
        </div>
        <div class="menu-box folder-menu col-xl-2 col-lg-3 col-sm-6">
          <h5>Quick Links</h5>
          <ul class="footer-menu">
            <li><a href="#" class="footer-link">My Orders</a></li>
            <li><a href="#" class="footer-link">Wishlist</a></li>
            <li><a href="#" class="footer-link">My Cart</a></li>
            <li><a href="#" class="footer-link">Order-Tracking</a></li>
            <li><a href="#" class="footer-link">Profile</a></li>
          </ul>
        </div>
        <div class="menu-box col-xl-4 col-sm-6">
          <h5>Newsletter</h5>
          <div class="footer-menu">
            <p class="news-letter-head">
              Subscribe to our newsletter today and embark on a journey of discovery with us!
            </p>
            <form class="news-latter-input">
              <input type="email" placeholder="Email" />
              <button type="submit" class="btn solid-btn box-sm-radius">
                <div class="button-text">
                  <span>Submit</span>
                </div>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-sub-menu">
        <h6>
          Copyright <i class="ri-copyright-line"></i> 2024 Edgy. All rights reserved
        </h6>
        <a href="#" class="footer-img">
          <img src="{% static 'images/payment/1.png' %}" class="img-fluid" alt="" />
        </a>
      </div>
    </div>
  </footer>
  <!-- ========== End Section ========== -->
</body>






<!-- ========== bootstrap js ========== -->
<script src="{% static 'js/vendors/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendors/popper.min.js' %}"></script>

<!-- ========== swiper js ========== -->
<script src="{% static 'js/vendors/swiper-bundle.min.js' %}"></script>

<!-- ========== custom swiper js ========== -->
<script src="{% static 'js/custom-slider.js' %}"></script>

<!-- ========== filter js ========== -->
<script src="{% static 'js/filter.js' %}"></script>

<!-- ========== Mood Button js ========== -->
<script src="{% static 'js/theme-setting.js' %}"></script>

<!-- ========== newsletter js ========== -->
<script src="{% static 'js/newsletter.js' %}"></script>

<!-- ========== Loader js ========== -->
<!-- <script src="{% static 'js/loader.js' %}"></script> -->

<!-- ========== script js ========== -->
<script src="{% static 'js/script.js' %}"></script>